<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taskId</key>
	<string>DSTemperatureTask</string>
	<key>frequencyType</key>
	<string>daily</string>
	<key>frequencyNumber</key>
	<string>3</string>
	<key>name</key>
	<string>Temperature Task</string>
	<key>type</key>
	<string>Survey</string>
	<key>questions</key>
	<array>
		<dict>
			<key>answerUnit</key>
			<string>celsius</string>
			<key>answerRange</key>
			<dict>
				<key>maximum</key>
				<integer>50</integer>
				<key>minimum</key>
				<integer>20</integer>
			</dict>
			<key>answerType</key>
			<string>NSNumber</string>
			<key>prompt</key>
			<string>Measure the body temperature please.</string>
			<key>questionId</key>
			<string>temperature</string>
		</dict>
	</array>
</dict>
</plist>
